@font-face {
  font-family: "AdventPro";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("../../fonts/AdventPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AlexandriaFLF";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("../../fonts/AlexandriaFLF.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("../../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeueBold";
  font-style: normal;
  font-weight: bold;
  src: local("?"), url("../../fonts/BebasNeue Bold.ttf") format("truetype");
}
$fondo: rgb(0,41,51);
$complementario: #FFFFFF;
$azulClarito: #52c1ff;

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.oculta{
  display: none;
}
.visible{
  display: block;
}

body {
  font-family: BebasNeue;
  font-size: 18px;
  padding-bottom: 40px;
  color: $complementario;
  background-color: $fondo;
}

.subpagina{
  background-color: #fff;
  width: 100%;
  color: rgb(0,41,51);
  padding: 5% 0 5% 0;
  margin: 115px 0 20px 0;
  .tituloSeccion{
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
  }
  .introSeccion{
    text-align: center;
    width: 75%;
    padding-left: 25%;
    margin-bottom: 50px;
  }
  .summary{
    text-align: center;
    padding-left: 4%;
    .col-lg-4{
      width: 30% !important;
      margin-left: 20px;
    }
    .img-circle{
      border: 1px solid $fondo;
    }
    .btn{
      background-color: $azulClarito;
      color: $complementario;
      font-size: 18px;
    }
  }
}

footer{
  margin-left: 30px;
  a{
    color: $azulClarito;
  }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.cabecera.container{
  width: 100% !important;
}
.navbar.navbar-static-top{
  float:left !important;
  width: 100% !important;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  float: right;
  margin-right: 0px;
}
.navbar-wrapper .navbar .container {
  width: 100%;
}

.navbar-wrapper .navbar-brand{ 
  margin-left: 0px;
  img{
    height: 70px;
    width: 170px;
    cursor: pointer;
  }
}

#navbar{
  float: left;
  margin-left: 35%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 7px;
}
.navbar-header{
  float: left;
}
/* Sobreescribimos los estilos de color de navbar para aplicar nuestros colores*/
.dropdown-menu>li>a{
  color: $fondo !important;
}
.navbar-brand{
  padding: 0px !important;
}
.nav>li>a{
  cursor: pointer;
  color: #fff;
}
.nav>li{
  background-color: $fondo !important;
}
.nav>li>a:hover{
  background-color: $fondo;
}
.nav>li:active{
  background-color: $fondo;
}
.nav>li.open>a:hover{
  background-color: $fondo;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 450px;
  font-family: "BebasNeueBold";
  padding: 0;
}
.carousel .item.docencia{
  background-image: url("../../imagenes/puzzle_opacityLogos.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.carousel .item.consultoria .carousel-caption{
  color: $complementario;
}
.carousel-caption h1{
  font-size: 75px !important;
}
.carousel .item.consultoria .carousel-caption h1{  
  margin-top: -50%;
  margin-left: -80%;
}
.carousel .item.docencia .carousel-caption h1{  
   margin-top: -44%;
  margin-left: 80%;
}
.carousel .item.consultoria{
  background-image: url("../../imagenes/engranajes_panoramico.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: $fondo;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: $complementario;
  color: $fondo;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}
.carousel-indicators .active{
  background-color: $fondo;
}
.carousel-indicators li{
  border: 2px solid $fondo;
}

/* MARKETING CONTENT
-------------------------------------------------- */
footer{
  height: 25px;
  margin-top: 20px;
  a{
    cursor: pointer;
  }
}
footer span{
    margin-left:0px;
    margin-right: 60px;
    &.primerSpan{
      margin-left:45px;
      margin-right: 275px;
    }
    &.ultimoSpan{
      margin-left:160px;
    }
} 

footer .logos{
  margin-left:25px;
  margin-right: 25px;
}
footer .iconoSocial{
  height: 26px;
  width: 26px;
}
.marketing{
  margin-top:35px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing h3{
  margin-top: 10px;
}
.row {
  width: 100%;
  float: right;
  margin-top: 10%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.ampliacionSummary{
  .col-md-7{
    background: $azulClarito;
    padding: 5%;
  }
  .col-md-5{
    img{
      height: 300px !important;
      border: 1px solid $fondo;
    }
  }
}
#team{
  float: left;
  #employees{
    padding-left: 10%;/* Si fueran tres columnas en vez de 4: 25%;*/
    .filaEmpleados{
      float:left;
      &.notFirst{
        margin-top: 30px;
      }
    }
    .employee{
      width: 190px;
      height: 260px;
      position:relative;
      margin-right: 80px;
      img.fotoEmpleado{
        width: 200px;
        height: 250px;
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 0;
      }
      .employeeInfo{
          position: absolute;
          bottom: 4px;
          left: 4px;
          font-size: 14px;
          color: #fff;
          z-index: 2;
          background-color: $azulClarito;
          width: 200px;
          padding: 2px 5px;
      }
      .iconoSocial{
        width: 20px;
        height:20px;
      }
    }
  }
}
#training{
  .summary{
    padding-left:5%;
    .col-lg-4{
      margin: 10px;
      background-color: $azulClarito;
      color: $complementario;
      padding: 15px;
      .courseInfo{
          position: absolute;
          font-size: 16px;
          bottom: 0px;
          left: 0px;
          color: $fondo;
          z-index: 2;
          background-color: $complementario;
          width: 100%;
          height: 100%;
          padding: 2px 5px;
          padding-top: 15%;
      }
    }
  }
}
#contact{
  #contactus{
    width: 40%;
    float: left;
    margin-right: 7%;
    h1{
      margin-left:5%;
    }
  }
  #findus{
     float: left;
     width: 50%;
  }
  #mainInfo{
    margin-bottom: 25px;
  }
  #otherInfo{
    margin-left: 20%;
    img{
      border: 1px solid $fondo;
    }
  }
  form{
    margin-left: 5%;
    background-color: $azulClarito;
    padding: 25px;
    width: 100%;
    table{
      width: 100%;
    }
    td label, td input, td textarea{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    td label{
      color: $complementario;
      margin-right: 15px;
    }
  }
}
#terms{
  padding-left: 5%;
  padding-right: 5%;
}
.carousel-control{
  background-image: none !important;
}

.col-lg-4{
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width:1400px){
  footer span{
    margin-left: 110px;
    margin-right: 170px;
    &.primerSpan{
      margin-left:45px;
      margin-right: 275px;
    }
  }
  #team{
    #employees{
      padding-left: 18%;
    }
  }
  #contact{
    #contactus{
      margin-right: 5%;
      margin-left: 2%;
    }
  }
  #navbar{
    margin-left:45%;
  }
  .carousel {
    height: 620px;
  }
  .carousel .item {
    height: 620px;
  }
  .carousel-inner > .item > img {
    height: 620px;
  }
}
@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    margin-right: 0px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .item.docencia .carousel-caption {
    right: 20%;
    top: 75%;
  }
 
  .carousel-caption p{
    font-size: 40px;
    line-height: 1.4;
    margin-left: -10%;
    text-align: left;
    margin-top: 10%;
  }
  .carousel-caption p.lema{
    text-align: right;
    font-size: 50px;
  }
}



